$background: #2b3c7a;
$whiteColor: #ffffff;
$blackColor: #000000;
$btnBackground: #27376f;
$swiperBackgruond: #1f2b57;
$textColor: #313030;
$footerText: #dadada;
$opacityColor: #797979;
$brendBackground: #f0f0f0;
