.sportKross {
  &__path {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #767676;
    margin: 30px 0;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 13px;
    &__text {
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      color: #3c3c3c;
    }
    &__tovarNum {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $opacityColor;
    }
  }
  &__brends {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__brend {
    background: $brendBackground;
    border-radius: 5px;
    &__text {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $blackColor;
      padding: 6px 19px;
    }
  }
}
.span {
  &__text {
    color: #3c3c3c;
  }
}
.sport {
  &__main {
    margin-top: 30px;
    display: flex;
    gap: 50px;
  }
  &__cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 962px;
  }
  &__card {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(73, 118, 232, 0.1);
    border-radius: 10px;
    width: 218px;
    height: 417px;
    &__btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: inherit;
    }
    &__img {
      padding: 15px 18.5px;
      padding-bottom: 23px;
      &__div:hover {
        position: relative;
        z-index: 2;
        background: rgba(105, 105, 105, 0.5);
        border-radius: 10px;
        .sport__card__btn {
          z-index: 1;
        }
      }
    }
    &__text__div {
      padding: 0 14px;
    }
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $textColor;
      margin-top: 15px;
      height: 42px;
    }
    &__icons {
      display: flex;
      align-items: center;
      gap: 2px;
      margin: 8px 0;
      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: $blackColor;
        padding-left: 8px;
      }
    }
    &__cash {
      display: flex;
      align-items: center;
      gap: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $blackColor;
    }
    &__month {
      background: #27376f;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      color: $whiteColor;
      padding: 2px 10px;
      padding-right: 22px;
      &__sum {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 11px 0;
      }
      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $blackColor;
      }
    }
    &__sum {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $blackColor;
    }
  }
}
